
body{
    font-family: 'Times New Roman', Times, serif;
    color:white;
    background-color:#006064;
}
.time-sets{
    display: grid;
    grid-template-columns: 50px 200px 50px;
    justify-items:center;
    align-items: center;
}
.dual-container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 700px;
    margin: auto;
    justify-items: center;
    align-items: center   ;
}